# Compilation artifacts
Python/QuantLib/quantlib_wrap.cpp
Python/.cache/
Python/QuantLib.egg-info
Python/QuantLib_Python.egg-info
Python/dist
Python/examples/*.ipynb
Python/examples/.ipynb_checkpoints

# Build outputs
**/x64/Debug
**/x64/Release
**/Debug
**/Release
**/bin/*.xml
**/bin/*.manifest

# CLion
.idea
cmake-build-debug

# Artifacts created in multiple directories
Makefile
Makefile.in
testCaseCollection.xml
.deps
.libs
*.la
*.lo
*.o
*.so
*.dylib
.build-stamp
*.pyc
*.exe
*.dll
*.exp
*.lib
*.pdb
*.ilk
*.class
*~
*.ncb
*.suo
*.vcproj.*.user
*.vcxproj.user
*.VC.db
*.VC.opendb
*.log
*.sdf
*.opensdf
*.pch
*.idb
*.ipch

# Outputs
Python/QuantLib_Risks/QuantLib_Risks.py
Python/build

.vscode
**/venv
/build
**/.venv
__pycache__